@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .error {
    @apply border-red-600;
    @apply rounded-lg;
  }
}
/*.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  height: 100vh;
  gap: 10px;
}*/

.text-2xl {
  font-size: 1.5rem; /* 24px */
}

.text-xl {
  font-size: 1.25rem; /* 20px */
}

.w-full {
  width: 100%;
}

.py-5 {
  padding: 1.25rem;
}

/* Responsividade para telas menores */
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; /* Ajuste para 1 coluna */
  }

  .text-2xl {
    font-size: 1.25rem; /* Ajuste no tamanho da fonte */
  }

  .text-xl {
    font-size: 1rem; /* Ajuste no tamanho da fonte */
  }

  .px-5,
  .py-5 {
    padding: 1rem; /* Ajuste no padding para telas menores */
  }
}

/* Responsividade para telas muito pequenas (mínimo de 320 pixels) */
@media screen and (max-width: 320px) {
  .grid {
    grid-template-columns: 1fr; /* Ajuste para 1 coluna */
  }

  .text-2xl {
    font-size: 1rem; /* Ajuste adicional para o tamanho da fonte */
  }

  .text-xl {
    font-size: 0.875rem; /* Ajuste adicional para o tamanho da fonte */
  }

  .px-5,
  .py-5 {
    padding: 0.75rem; /* Ajuste adicional no padding para telas muito pequenas */
  }
}
